In [1]:
print('my name is nitish')

my name is nitish

In [2]:
if 3<5:
    print('i am smaller')

i am smaller

In [4]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [5]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [6]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [8]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

In [10]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [11]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [12]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [13]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [14]:
x = 5
y = 10
print(x + y)

15

In [15]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [17]:
#Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [18]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [19]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

In [ ]:
x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

In [20]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [21]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [22]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [23]:
#Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
a = "Hello, World!"
print(a[1])

e

In [24]:
b = "Hello, World!"
print(b[2:5])

llo

In [25]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [26]:
a = "Hello, World!"
print(len(a))

13

In [28]:
#The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [1]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [2]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [3]:
#Python has a built-in module called random, not a random function
import random

print(random.randrange(1, 10))

5

In [4]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
#Almost any value is evaluated to True if it has some sort of content.

#Any string is True, except empty strings.

#Any number is True, except 0.

#Any list, tuple, set, and dictionary are True, except empty ones.

In [5]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [6]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [7]:
#if you have an object that is made from a class with a __len__ function that returns 0 or False:

class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [8]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [9]:
x = 200
print(isinstance(x, int))

True

## Python Collections (Arrays)

In [12]:
#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered and unindexed. No duplicate members.
#Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [16]:
#to change the value of a specific item, refer to the index number:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [17]:
#Print all items in the list, one by one using for loop
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [20]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [21]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [26]:
#To add an item to the end of the list, use the append() method:
thislist = ["apple", "banana", "cherry"]
thislist.extend(["orange",'Kiwi'])
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'Kiwi']

In [28]:
#To add an item at the specified index, use the insert() method:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [31]:
#The pop() method removes the specified index, (or the last item if index is not specified):
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [33]:
#The del keyword removes the specified index:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [34]:
#The del keyword can also delete the list completely:
thislist = ["apple", "banana", "cherry"]
del thislist

In [37]:
#The clear() method empties the list:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Make a copy of a list with the copy() method:

In [38]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [40]:
#Another way to make a copy is to use the built-in method list().
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [41]:
#Join Two Lists
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [43]:
#Another way to join two lists are by appending all the items from list2 into list1, one by one:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for i in list2:
  list1.append(i)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [44]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [46]:
#It is also possible to use the list() constructor to make a new list.

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
'''Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list'''

## Dictionary

In [47]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [49]:
x = thisdict["model"]
print(x)

Mustang

In [53]:
x = thisdict.get("model")
print(x)

Mustang

In [55]:
#Change the "year" to 2018:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [58]:
#Print all key names in the dictionary, one by one:
for x in thisdict:
  print(x)

brand
model
year

In [59]:
#Print all values in the dictionary, one by one:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
2018

In [60]:
for x in thisdict.values():
  print(x)

Ford
Mustang
2018

In [61]:
#Loop through both keys and values, by using the items() method:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2018

### Check if Key Exists

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [63]:
print(len(thisdict))

3

In [65]:
#Adding an item to the dictionary is done by using a new index key and assigning a value to it:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [66]:
#The pop() method removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [67]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [69]:
#The del keyword removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [70]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## copy of a string

In [71]:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [72]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Nested Dictionaries

In [73]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [74]:
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [76]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [78]:
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [79]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [80]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [82]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [83]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [84]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [86]:
if a > b: print("a is greater than b")

a is greater than b

In [87]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [89]:
#multiple if else in a single line
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [90]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [91]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

## Nested if else

In [92]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
#if statements cannot be empty, but if you for some reason have an if statement with no content, 
#put in the pass statement to avoid getting an error.

In [93]:
a = 33
b = 200

if b > a:
  pass

# With the while loop we can execute a set of statements as long as a condition is true.

In [94]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [96]:
#With the break statement we can stop the loop even if the while condition is true:
i = 1
while i < 6:
  print(i)
  if i == 4:
    break
  i += 1

1
2
3
4

In [97]:
#With the continue statement we can stop the current iteration, and continue with the next:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [98]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [99]:
#A for loop is used for iterating over a sequence 
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [101]:
#Even strings are iterable objects, they contain a sequence of characters:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [102]:
#With the break statement we can stop the loop before it has looped through all the items:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [103]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

## The continue Statement

In [104]:
#With the continue statement we can stop the current iteration of the loop, and continue with the next:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [106]:
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1

In [105]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [107]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [108]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

## Else in For Loop

In [109]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [111]:
#A nested loop is a loop inside a loop.

In [110]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [113]:
#for loops cannot be empty, but if you for some reason have a for loop with no content,
#put in the pass statement to avoid getting an error.
for x in [0, 1, 2]:
  pass

In [114]:
#A function is a block of code which only runs when it is called.

#You can pass data, known as parameters, into a function.

#A function can return data as a result.

def my_function():
  print("Hello from a function")

In [115]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [117]:
#Information can be passed into functions as arguments.
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

### if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [118]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [120]:
#If the number of arguments is unknown, add a * before the parameter name:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [122]:
#You can also send arguments with the key = value syntax.
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [123]:
#If we call the function without argument, it uses the default value:

def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

## Passing a List as an Argument

In [124]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [125]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [126]:
#the pass statement to avoid getting an error.
def myfunction():
  pass

# Recursion

In [127]:
#Recursion is a common mathematical and programming concept. It means that a function calls itself.

In [128]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Lambda

In [129]:
#A lambda function can take any number of arguments, but can only have one expression.
x = lambda a : a + 10
print(x(5))

15

In [135]:
#Multiply argument a with argument b and return the result:
x = lambda a, b : a * b
print(x(5, 6))

30

In [136]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [137]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [138]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [139]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

## Arrays

In [140]:
#Arrays are used to store multiple values in one single variable:

In [146]:
cars = ["Ford", "Volvo", "BMW"]
for x in cars:
  print(x)

Ford
Volvo
BMW

# Python Classes and Objects

In [154]:
#Python is an object oriented programming language.

#Almost everything in Python is an object, with its properties and methods.

#A Class is like an object constructor, or a "blueprint" for creating objects.

class MyClass:
  x = 5
p1 = MyClass()
print(p1.x)

5

In [153]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [155]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

# The self Parameter

In [ ]:
#The self parameter is a reference to the current instance of the class,
#and is used to access variables that belongs to the class.

#It does not have to be named self , you can call it whatever you like, 
#but it has to be the first parameter of any function in the class:

In [156]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

# Python Inheritance

In [ ]:
#Inheritance allows us to define a class that inherits all the methods and properties from another class.

#Parent class is the class being inherited from, also called base class.

#Child class is the class that inherits from another class, also called derived class.

In [157]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [4]:
class Mycarcollection:
  def __init__(self ,brand, model, year):
    self.brand=brand
    self.model=model
    self.year=year
  
p= Mycarcollection('audi', 'r8', 2018)

print(p.brand)
print(p.model)
print(p.year)

audi
r8
2018

In [5]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [39]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("Rahul", 27)
p1.myfunc()

Hello my name is Rahul

In [14]:
class Student:
    def __init__(self, name, rollno):
        self.name=name
        self.rollno=rollno
    
    def about(self):
        print('my name is :', self.name)
        print('my roll no is :', self.rollno)
    
s1=student('Rohan', 20)
print(s1.name)
print(s1.rollno)
s1.about()

Rohan
20
my name is : Rohan
my roll no is : 20

In [15]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

## Convert Python objects into JSON strings, and print the values:

In [38]:
import json

print(json.dumps({"name": "Roshan", "age": 26}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "Roshan", "age": 26}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [37]:
import json

x = {
  "name": "Raj",
  "age": 46,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "Raj", "age": 46, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [ ]:
#The try block lets you test a block of code for errors.

#The except block lets you handle the error.

#The finally block lets you execute code, regardless of the result of the try- and except blocks.

In [23]:
#The try block will generate an exception, because k is not defined:
try:
  print(k)
except:
  print("An exception occurred")

An exception occurred

In [26]:
try:
  print(k)
except NameError: #The except block lets you handle the error.
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [28]:
#The finally block, if specified, will be executed regardless if the try block raises an error or not.
try:
  print(k)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [30]:
#Raising error
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

## Python String Formatting

In [31]:
#The format() method allows you to format selected parts of a string.
name = 'Rohan'
txt = "The name is {} raj"
print(txt.format(name))

The name is Rohan raj

In [32]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [34]:
age = 27
name = "Aleena"
txt = "Hes name is {1}. {1} is {0} years old."
print(txt.format(age, name))

Hes name is Aleena. Aleena is 27 years old.

In [36]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "KIA", model = "Sonet"))

I have a KIA, it is a Sonet.

## Python User Input

In [ ]:
username = input("Enter username:")
print("Username is: " + username)

## Python Dates

In [ ]:
#A date in Python is not a data type of its own, 
#but we can import a module named datetime to work with dates as date objects.

import datetime

x = datetime.datetime.now()
print(x)

In [ ]:
x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))